/* CSS Document */
#temp{background:#FF0000; radius:30px; width:1000px; rgb:(30, 40, 50); border:5px solid black; border-radius:35px;}
#temp1{background:#0099CC; display:none; radius:30px; width:100px; rgb:(30, 40, 50); border:5px solid black; border-radius:35px;}
